.providers-page {
  min-height: calc(100vh - 70px);
}

.providers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 60px;
}

@media (max-width: 992px) {
  .providers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .providers-grid {
    grid-template-columns: 1fr;
  }
}
